body{
    font-family: Georgia, serif;
    background-color: rgb(208, 238, 167);
    margin: 0;
    
}
h2{
    background-color: rgb(172, 170, 170);
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}
td{
    padding: 7px;
}
input{
    height: 30px;
    border-radius: 10px;
    border: rgb(0, 0, 0);
    
}

input:focus{
    outline: rgb(0, 0, 0);
    border: thick double #32a1ce;
}
input:hover{
    box-shadow: 5px 5px 5px black;
}

.button{
    background-color: darkblue;
    color:rgb(79, 70, 183);
    border: none;
    padding: 7px
}

.button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}
